@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-900 text-slate-100;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* IE and Edge */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
  }
}